.road-head h1{
    font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 138.4%;
/* identical to box height, or 208px */

text-align: center;
padding-bottom: 3%;

}
.roadmap{
    padding-top: 2%;
    padding-bottom: 4%
}


@media (max-width:768px) {
    .road-top h2 {
        font-size: 18px;
        line-height: 10px;
    }
    .roadmap .container{
        width: 100% !important;
    }
    .swiper-slide-active .road-box{

    }

 
    
}