.hero {
  padding-top: 11%;
 height: 100vh;
}
.hero-img {
  height: 355px;
  width: auto;

}
.hero h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 138.4%;
  /* or 104px */

  color: #000000;
}
.social-hero{
  gap: 1rem;
}
.social-hero a{
  font-size: 26px;
}
.green {
  color: #00a652;
  font-weight: 700;
}
.hero-btn {
  padding-top: 5%;
}

.hero-btn-1 {
  background: linear-gradient(
    93.52deg,
    #00a652 0.78%,
    #006a34 102.15%,
    #58ffaa 102.16%
  );
  border: 0.5px solid #ffffff;
  box-shadow: 0px 7px 16px rgb(0 0 0 / 40%);
  border-radius: 33.5px 0px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  padding: 1% 7%;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  margin-right: 15%;
}
.hero-btn-2 {
  border: 0.5px solid #006a34;
  filter: drop-shadow(0px 7px 16px rgba(0, 0, 0, 0.4));
  border-radius: 33.5px 0px;
  transform: matrix(1, 0, 0, -1, 0, 0);
  color: #00a652;
  padding: 1% 7%;
  font-size: 18px;
  font-weight: 600;
}
.side-1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 409px;
  height: 246px;
  background: #00a652;
  filter: blur(180px);
  z-index: -20;
}

.side-2 {
  position: absolute;
  left: 0;
  width: 409px;
  height: 246px;
  background: #00a652;
  filter: blur(180px);
  z-index: -20;
}
@media (max-width:768px) {
  .hero h1{
    font-size: 48px;
  }
  .hero-img{
    height: 260px;
  }
  .side-1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 253px;
    height: 194px;
  }
  .side-2 {
    display: none;
  }
}