.team{
    padding-top: 10%;
    padding-bottom: 5%;
}

.team-grid{
    display:grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap:30px;
}
.team-box{
    border: 3px solid #00A652;
    box-shadow: 4px 4px 15px 5px #00a652;
    border-radius: 34px 0px;
    padding: 5%;
    height: 100%;
}
.box-img img{
    width: 150px;
    height: 150px;
}
.box-img h2{
    font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #00A652;
}
.box-img p{
    font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 10px;
text-align: center;

color: #FFFFFF;
}
.team_details p{
    font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 22px;
text-align: center;

color: #FFFFFF;

}
.linked{
    
    position: absolute;
    /* left: 0; */
    margin-left: 19.7%;
    margin-top: -1.6%;
    font-size: 25px;
}
.team_details{
    border-top: 1px solid #fff;
    padding-top: 3%;
}
.linked-in{
    color: #00A652;
}