.about{
    padding-top: 2%;
    padding-bottom: 1%;
  
}
.about-box{
    background: rgba(255, 255, 255, 0.08);
    border-radius: 20px;
    padding: 6% 4%;
}

.about p{
    color: #fff;
}
.about h1{
    color: #fff;
}
.about-img-1{
    height: auto;
    width: 500px;
}


.about-head-1{
    font-style: normal;
font-weight: 800;
font-size: 55px;
line-height: 138.4%;
/* or 138px */


color: #FFFFFF;
}
.about-details p{
    font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 138.4%;
/* or 35px */


color: #FFFFFF;
padding-top: 6%;
    padding-bottom: 4%;
}


@media (max-width:768px) {
    .about-details p{
        font-weight: 400;
font-size: 14px;
    }

    .about-head-1{
        font-size: 48px;
    }
    .side-about {
        position: absolute;
        right: 0;
        height: 70px;}
        .ab-2-img {
            height: 47px;
            padding-top: 6%;
        }
    
}