.reward{
    padding-top: 5%;
    padding-bottom: 5%;
}
.reward-head img{
    height: 57px;
    width: auto;
}
.reward-hero a{
    color: #fff;
    font-size: 16px !important;
    justify-content: center;
    padding-top: 2%;
}