
a {
    text-decoration: none;
    color: #000000;
  }
  
  li {
    list-style: none;
  }
  
  .logo img{
      height: 40px;
  }
  a:hover {
    color: #000000;
  }
  .logo{
    align-items: center;
  }
  
  /* 
   
  
  /* navbar style start  */
  
  .main-nav {
    width: 100%;
   
    height: 30px;
    background-color: #0c171700;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #06898e00;
   
    padding-top: 1.5%;
  }
  
  .logo {
    display: grid;
    /* background-color: #3b5998; */
    grid-column: 2/3;
    justify-content: start;
    align-items: center;
  }
  
  .menu-link {
    grid-column: 3/4;
    padding-top: 0.5%;
  }
  
  .menu-link ul {
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2.5rem;
  }
  .dropdown{
    display: none;
  }
  .dropdown-display{
    display: block;
    position: absolute;
    top: 10%;
    margin-left: -23%;
    background: rgba(255, 255, 255, 0);
    padding-left: 2%;
    padding-bottom: 1%;
    padding-right: 2%;
  }
  
  

  .explore-btn{
    padding: 4.2% 33%;
    background: linear-gradient(93.52deg, #00A652 0.78%, #006A34 102.15%, #58FFAA 102.16%);
border: 0.5px solid #FFFFFF;
box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.4);
border-radius: 5px;
color: #fff !important;
font-size: 13px !important;
font-weight: 400 !important;
  }
  
  
  
  
  /* ----------- Grid part ends ----------------- */
  
  
  
  
  .menu-link ul li {
    font-size: 1.3rem;
  }
  
  .menu-link ul li a {
  transition: 0.5s;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 109%;
  text-transform: uppercase;
  color:  #00A652;
  }
  .menu-link ul li:hover > a {
    transform-origin: left;
    color: rgb(57, 227, 38);
    text-decoration: wavy;
    transition: 0.5s;
  }
  
  
  
   .hamburger-menu {
    display: none;
  }
  
  
  
  
  
  /* responsive css style  */
  @media (max-width: 1080px) {
    .main-nav {
      height: 7rem;
      grid-template-columns: 2rem 3fr 3fr 1fr 2rem;
    }
  
    .logo,
    .menu-link ul
     {
      height: 7rem;
    }
  }
  
  /* responsive css style  */
  @media (max-width: 998px) {
    .main-nav {
      height: 6rem;
      grid-template-columns: 2rem 2fr 3fr 2rem 2rem;
    }
  
    .menu-link {
      display: none;
    }
  
    .logo
     {
      height: 6rem;
    }
  
    .mobile-menu-link {
      grid-column: 2/4;
      position: absolute;
      z-index: 99;
    }
  
    .mobile-menu-link {
      background-color: #000000;
      height: 27rem;
      display: grid;
      top: 7%;
      grid-column: 2/5;
      align-items: center;
      padding-left: 2rem;
      padding-right: 2rem;
      /* transition: all 2s linear; */
      transform-origin: top;
      box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px;
      right: 0;
    }
  
    .mobile-menu-link ul {
      height: 20rem;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      align-items: flex-start;
    }
  
    .mobile-menu-link ul li:first-child {
      transition-delay: 0.2s;
    }
  
  
  
  
  
    .hamburger-menu {
      display: block;
      font-size: 2.5rem;
    }
  }
  
  @media (max-width: 768px) {
    .main-nav {
      display: flex;
      height: 3rem;
      grid-template-columns: unset;
      justify-content: space-between;
    }
  
    .foot-logo img{
      width: auto;
      height: 36px;
      margin-top: -36px;
    
  }
  
   
  
   .hamburger-menu {
      display: block;
      font-size: 2.5rem;
    }
  }
  
  @media (max-width: 520px) {
    .main-nav {
      display: flex;
      height: 3rem;
      grid-template-columns: unset;
      justify-content: space-between;
    }
  
   
  
    
  
  
   .hamburger-menu {
      display: block;
      font-size: 2.5rem;
    }
  
   
  }
  