.why-us{
  padding-bottom: 3%;
}
.table{
  color: #fff;
  margin-bottom: 0;
}
th,td{
  border-bottom: 0px;
}
th{
  width: 250px;
}
td{
  width: 100px !important;
}
.why-us-head h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  /* identical to box height, or 208px */

  text-align: center;

  color: #ffffff;
}
.why-us-head img{
  width: auto;
  height: auto;
  margin-bottom: 2%;
}
.cross{
  color: #FF3535;
}

.border-down p {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 100.4%;
  /* identical to box height, or 26px */

  text-transform: capitalize;

  color: #ffffff;
}

.why-us-box {
  background: #242A38;

  border: 1px solid #535675;
  border-radius: 9px;


  color: #fff;
}
.content-2 {

  padding-top: 1%;
  padding-bottom: 1%;
}
.b-right{
  border-right: 2px solid #00E86D
}
.content-2 img {
  height: auto;
  width: 120px;

 
}
.content-2{
  text-align: center;
}
.bg-blue{
  background: #111827;
}

.t-head{
  font-weight: 400;
font-size: 14px;
line-height: 26px;
margin-bottom: 5px;
margin-top: 5px;
}




.mob-why-swiper{
  display: none;
}

@media (max-width:768px) {
  .desktop-box-why{
    display: none;
  }
  .mob-why-swiper{
    display: block;
  }
  
  
}