.menu-dark ul li:hover > a {
  transform-origin: left;
  color: rgb(255, 255, 255) !important;
  text-decoration: wavy;
  transition: 0.5s;
}

.dark-a{
  color: #fff;
}
.dark-a :hover {
  color: #00a652;
}
