.part-img-box{
    text-align: center;
}

.fox{
    width: 230px;
    height: 190px;
}
.insider{
    height: 190px;
}
.enter{
    width: 300px;
    height: 190px;
}
.part-head h1{
    font-style: normal;
font-weight: 800;
font-size: 55px;
line-height: 138.4%;
/* identical to box height, or 208px */

text-align: center;

color: rgba(0, 0, 0, 0.43)
}