.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup.mount {
  animation: inAnimation 300ms ease forwards;
}

.popup.unmount {
  animation: outAnimation 300ms ease forwards;
}

@keyframes inAnimation {
  0% {
    opacity: 0;
    transform: translate(-50%, -80%) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes outAnimation {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -40%) scale(0.9);
  }
}
