.features {
  padding-top: 1%;
  padding-bottom: 5%;
}
.feat-header h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 138.4%;
  /* identical to box height, or 277px */

  text-align: center;

  color: #0000008f;
}

.feat-img {
  text-align: center;
}
.feat-img img {
  height: 62px;
  width: auto;
}
.feat-box {
  background: linear-gradient(180deg, #ffffff 0%, #dadada 100%);
  border: 3px solid #00a652;
  border-radius: 25px;
  width: 288px;
  padding-top: 3%;
  padding-bottom: 2%;
  height: 220px;
}
.feat-box h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  line-height: 104.4%;
  padding-top: 1%;
  padding-bottom: 1%;

  text-transform: capitalize;

  color: #000000;
}

.feat-box p {
  font-family: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 112.4%;
  padding-top: 1%;
  text-align: justify;
  color: #000000;
  padding-left: 4%;
  padding-right: 4%;
}
.black {
  color: #000000;
  font-weight: 500;
}

.feat-side{
    position: absolute;
    height: 51px;
    width: auto;
    left: 34%;
    margin-top: 11px;
}
.mtf-60{
  margin-top: 20px;
  padding-bottom: 3%;
}
.mob-feat{
  display: none;
}
@media (max-width:768px) {
  .desktop-feat{
    display: none;
  }
  .mob-feat{
    display: block;
  }
  .feat-header h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 55px;}

    .feat-side{
      position: absolute;
      height: 44px;
      width: auto;
      left: 15%;
      margin-top: 11px;
      z-index: -3;
  }
  .feat-box{
    margin-bottom: 4%;
  }
  
}