.features {
  padding-top: 1%;
  padding-bottom: 5%;
}
.feat-header h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 120px;
  line-height: 138.4%;
  /* identical to box height, or 277px */

  text-align: center;

  color: #0000008f;
}

.feat-img {
  text-align: start;
}
.feat-img img {
  height: 80px;
  width: auto;
}
.feat-box {
  padding: 10%;
  height: 100%;
}
.feat-box h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 104.4%;
  padding-top: 1%;
  padding-bottom: 1%;

  text-transform: capitalize;

  color: #000000;
}

.feat-box p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 104.4%;
  padding-top: 1%;

  color: #000000;
}
.black {
  color: #000000;
  font-weight: 500;
}

.feat-side{
    position: absolute;
    height: 66px;
    width: auto;
    left: 31%;
    margin-top: 11px;
}

@media (max-width:768px) {
  .feat-header h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 55px;}

    .feat-side{
      position: absolute;
      height: 44px;
      width: auto;
      left: 15%;
      margin-top: 11px;
      z-index: -3;
  }
  
}