.features {
  padding-top: 6%;
  padding-bottom: 5%;
}
.feat-header {
  padding-bottom: 3%;
}
.feat-header img {
  width: auto;
  height: auto;
}
.feat-header h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 138.4%;
  text-align: center;
  color: #ffffff;
  transition: ea;
}

.feat-img {
  text-align: center;
}
.feat-img img {
  height: 62px;
  width: auto;
}
.feat-box {
  background: #242a38;
  border-radius: 8px;
  width: auto;
  margin: 5%;
  padding-top: 8%;
  padding-bottom: 2%;
  height: 275px;
  cursor: pointer;
}
.feat-box:hover{
  background-color: #050828;
  border-radius: 12px;
  margin: 2%;
  border: 1px solid;
  transition: transform 500ms ease-in-out;
}

.feat-box h3 {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  line-height: 30px;
  padding-top: 3%;
  padding-bottom: 1%;
  text-transform: capitalize;
}

.feat-box p {
  /* font-family: auto; */
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 24px;
 
  color: #ffffff;
  padding-left: 10%;
  padding-right: 10%;
}
.black {
  color: #000000;
  font-weight: 500;
}

.feat-side {
  position: absolute;
  height: 51px;
  width: auto;
  left: 34%;
  margin-top: 11px;
}
.mtf-60 {
  margin-top: 20px;
  padding-bottom: 3%;
}
.mob-feat {
  display: none;
}
@media (max-width: 768px) {
  .desktop-feat {
    display: none;
  }
  .mob-feat {
    display: block;
  }
  .feat-header h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 55px;
  }

  .feat-side {
    position: absolute;
    height: 44px;
    width: auto;
    left: 15%;
    margin-top: 11px;
    z-index: -3;
  }
  .feat-box {
    margin-bottom: 4%;
  }
}
