.footer-stack {
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  gap: 4rem;
}

.footer-top {
  padding: 4rem 0;
}

.footer {
  background-color: var(--main-2);
  /* padding-top: 3rem; */
}
.footer-logo {
  width: 178px;
  margin-bottom: 1.6rem;
}

.foot-links-wrapper > *:not(:last-child) {
  margin-bottom: 0.6rem;
}

.foot-link {
  display: block;
  width: fit-content;
}
.foot-link:hover {
  color: #00a652;
}

.footer-bottom {
  border-top: 2px solid #181818;
  padding: 2rem 0;
}

@media (max-width: 1000px) {
  .footer-stack {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 4rem;
  }
}

@media (max-width: 768px) {
  .foot-btn-grup {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .foot-btn-grup .hero-btn-1 {
    transform: unset;
  }
  .foot-btn-grup .hero-btn-2 {
    transform: unset;
  }
  .footer-logo {
    width: 170px;
  }

  .footer-stack {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .footer-top {
    padding: 3rem 0;
  }
}
