*{
  margin: 0;
  padding: 0;
}
.side-about{
  position: absolute;
  right: 0;
  height: 246px;
  margin-top: -12%;
  width: auto;
}
img{
  width: 100%;
  
}
.container{
  max-width: 1270px !important;
}