.token-head{
    text-align: center;
}
.token-head h1{
    font-style: normal;
    font-weight: 800;
    font-size: 55px;
    line-height: 138.4%;
    text-align: center;
    color: #fff;
}
.token-img{
    padding: 5%;
    width: auto;
    height: 475px;
}
.token{
    background: #000;
}