.token-head{
    text-align: center;
}
.token-head h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #00E86D;
}
.token-head img{
    width: auto;
  height: auto;
}
.token-img{
    padding: 3%;
    width: auto;
    height: 510px;
    margin-left: -50px;
}
.token{
    background: #242A38;
    padding-top: 2%;
    padding-bottom: 4%;
}
.to-2 p{
    font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #fff;
}
.to-1 p{
    font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #fff;
}

.orange{
    color: #E16E3A;
}
.light-blue{
    color: #9076DD;
}
.deep-blue{
    color: #7220D8;
}
.green{
    color: #2ACB71;
}
.sky-blue{
  color:  #00A1FF;
}
@media (max-width:768px) {
    .token-head h1 {
        font-size: 39px;
    }
    .token-img {
        width: 337px;
        margin-left: -22px;
        height: 100%;
        padding: 0px;
    }
}