.find{
    padding-top: 2%;
    padding-bottom: 2%;
}
.header-img{
    
}
.header-img img{
    width: 100%;
    margin-top: -100px;
    position: absolute;
    padding-top: 0%;
    height: 15%;
    overflow: hidden;

}
.bg-dework{
    background-color: rgba(0, 0, 0, 0.393);
    background-image: url('https://ik.imagekit.io/cforcrypto/Dework/doc_2022-11-25_21-58-56.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1669394272452');
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    padding-top: 5%;
    padding-bottom: 5%;
}
.d-work-box{
    background: linear-gradient(180deg, #58FFAA 0%, #00A652 86.47%);
    box-shadow: 0px 15px 43px rgb(0 0 0 / 45%);
    border-radius: 19px 17px;
    width: 364px;
    height: 100%;
   
    padding: 4% 3% 6% 4%;
    color: rgb(0, 0, 0);
}
.de-work-btn-box{
    background: linear-gradient(180deg, #E3E3E3 0%, #FFFFFF 99.72%);
    box-shadow: 0px 15px 82px rgb(0 0 0 / 45%);
    border-radius: 10px;
    transform: matrix(1, -0.1, 0, 1, 0, 0);
    width: 264px;
    z-index: 2;
    font-size: 14px;
    padding: 10px 10px;
    text-align: center;
    margin-left: 52px;
    margin-top: -55px;
}
.de-work-btn-box h1{
    font-style: italic;
font-weight: 700;
font-size: 28px;
line-height: 138.4%;
}
@media (max-width:768px) {
    .d-work-box{
        width: 337px;
        height: 100%;
        transform: unset;
    }

    .de-work-btn-box {
        background: linear-gradient(180deg, #E3E3E3 0%, #FFFFFF 99.72%);
        box-shadow: 0px 15px 82px rgb(0 0 0 / 45%);
        border-radius: 10px;
        transform: matrix(1, -0.1, 0, 1, 0, 0);
        width: 211px;
        z-index: 2;
        font-size: 14px;
        padding: 10px 10px;
        text-align: center;
        margin-left: 52px;
        margin-top: -29px;
    }

    .de-work-btn-box h1 {
        font-style: italic;
        font-weight: 700;
        font-size: 23px;
        line-height: 138.4%;
    }
    .header-img img {
        width: 100%;
        margin-top: -29px;
        position: absolute;
        padding-top: 0%;
        overflow: hidden;
    }
    
}